.calculator {
  padding-top: 100px;
  padding-bottom: 100px;
  &__suptitle {
    text-align: center;
  }

  &__title {
    text-align: center;
  }

  &__wrap {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex: 0 1 50%;
  }

  &__right {
    flex: 0 1 50%;
  }
}

#rangevalue{
  position: absolute;
  top: 0;
  left: 0;
}
.range_container{
  position: relative;
  padding-top: 70px;
}
.left-calculator {
  padding-right: 113px;
  .num {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  label {
    font-family: "Gotham";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    display: block;
    //display: block;
  }
  /* input {
    display: inline-block;
  }
  .slider {
    position: relative;
    appearance: none;
    width: 100%;
    //max-width: 557px;

    height: 20px;
    background: linear-gradient(90deg, var(--colorWhite) 68%, var(--colorWhite) 68%);
    border-radius: 10px;
    position: relative;
    box-shadow: 4px 4px 8px 2px rgba(78, 77, 77, 0.25);
  }
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url("../img/circle-slider.png");
    position: relative;
  }
  .slider::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url("../img/circle-slider.png");
    position: relative;
  }
  #value {
    background: #ffffff;
    box-shadow: 4px 4px 8px 2px rgba(189, 189, 189, 0.25);
    border-radius: 5px;
    font-size: 16px;
    line-height: 26px;
    //margin-top: 30px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    width: 40px;
    padding: 3px 5px;
  } */
  input,
  output {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
  }

  output {
    background: var(--colorWhite);
    box-shadow: 4px 4px 8px 2px rgba(189, 189, 189, 0.25);
    border-radius: 5px;
    line-height: 26px;
    color: var(--colorMain);
    width: 51px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    margin: 10px auto 25px auto;
  }

  input[type="number"] {
    width: 100%;
    @media screen and ( min-width:  769px){
      max-width: 557px;
    }
    padding: 4px 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
  }

  input[type="range"]:focus,
  input[type="number"]:focus {
    /* box-shadow: 0 0 3px 1px #4b81dd; */
    outline: none;
  }

  input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100%;
    @media screen and ( min-width:  769px){
      max-width: 557px;
    }
    height: 20px;
    background: var(--colorWhite);
    border-radius: 5px;
    background-image: linear-gradient(var(--colorGreen), var(--colorGreen));
    background-size: 68% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 3px 1px #a5a8ac;
  }

  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: var(--colorWhite);
    border: 5px solid var(--colorGreen);
    cursor: pointer;
    //box-shadow: 0 0 2px 0 #555;
    outline: 3px solid var(--colorGreen);
    transition: background 0.3s ease-in-out;
  }

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: var(--colorWhite);
    border: 5px solid var(--colorGreen);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: var(--colorWhite);
    border: 5px solid var(--colorGreen);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;
  }

  /* input[type="range"]::-webkit-slider-thumb:hover {
    background: #ff0200;
  }

  input[type="range"]::-moz-range-thumb:hover {
    background: #ff0200;
  }

  input[type="range"]::-ms-thumb:hover {
    background: #ff0200;
  } */

  /* Input Track */
  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}
.right-calculator {
  display: flex;
  p {
    margin: 3px 0;
    font-size: 15px;
    line-height: 24px;
  }
  span {
    font-family: "Gotham";
    font-size: 48px;
    line-height: 53px;
    letter-spacing: 0.5px;
    font-weight: 700;
    display: block;
  }
  &__info {
  }

  &__btn {
    &:nth-of-type(1) {
      margin-top: 40px;
      margin-bottom: 24px;
    }
  }

  &__chart {
  }

  &__img {
  }
}
