// Trusted block

.trusted {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(94.89deg, #fbfbfb 1.63%, rgba(251, 251, 251, 0.58) 94.66%);
  @media (max-width: 768px) {
    padding-top: 45px;
  }
  @media (max-width: 576px) {
    padding-bottom: 50px;
  }

  &__suptitle {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
  }

  &__title {
    margin-top: 10px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.5px;
    @media (max-width: 992px) {
      font-size: 32px;
      line-height: 37px;
      margin: 10px auto 0 auto;
    }
    @media (max-width: 576px) {
      max-width: 312px;
    }
  }

  &__wrap {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
    @media (max-width: 831px) {
      justify-content: center;
    }
    @media (max-width: 576px) {
      margin-top: 35px;
    }
  }

  &__item {
    display: flex;
    span {
      display: inline;
      width: 40px;
      height: 40px;
      margin-right: 15px;
      font-family: "Gotham";
      font-size: 26px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.5px;
      background-color: var(--colorGreen);
      padding: 11px 13px;
      border-radius: 5px;
      @media (max-width: 576px) {
        margin: 0 auto;
      }
    }
    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__content {
    padding-top: 20px;
    max-width: 341px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 100px;
    @media (max-width: 1200px) {
      grid-template-rows: 170px 150px;
    }
    @media (max-width: 992px) {
      grid-template-rows: 120px 100px;
    }
    @media (max-width: 992px) {
      grid-template-rows: 130px 80px;
    }
  }

  &__text {
    line-height: 26px;
    color: #170038;
  }

  &__name {
    margin-top: 20px;
    font-family: "Gotham";
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-weight: 700;
  }
}

// Case studise page

.case {
  padding-top: 100px;
  padding-bottom: 150px;
  background-blend-mode: multiply;
  background: #fbfbfb linear-gradient(100deg, rgb(#14efb5, 0.2) 3%, #fff 30%);
  @media (max-width: 992px) {
    padding-bottom: 70px;
    padding-top: 50px;
  }
  @media (max-width: 576px) {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  &__wrap {
    .case__block:first-child {
      @media (max-width: 768px) {
        margin-bottom: 60px;
      }
    }
  }
  &__wrap {
    margin-top: 40px;
    .case__block:last-child {
      .case__info {
        //height: 300px;
      }
    }
  }

  &__block {
    display: flex;
    margin-bottom: 150px;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
    @media (max-width: 992px) {
      display: block;
      &:first-child {
        margin-bottom: 100px;
      }
    }
  }

  &__info {
    flex: 0 1 50%;
    max-width: 558px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 432px;
    order: -1;

    @media (max-width: 992px) {
      max-width: 100%;
      margin-top: 30px;
      justify-content: flex-start;
      height: auto;
    }
    @media (max-width: 576px) {
      height: auto;
    }
  }

  &__suptitle {
    font-size: 15px;
    line-height: 24px;
  }

  &__title {
    font-size: 48px;
    margin-top: 8px;
    font-weight: 700;
    @media (max-width: 992px) {
      font-size: 32px;
      line-height: 37px;
    }
  }

  &__tetx {
    line-height: 26px;
    margin-top: 30px;
    @media (max-width: 1200px) {
      margin-right: 20px;
    }

    @media (max-width: 992px) {
      margin-top: 15px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    margin-top: 40px;
    span {
      display: block;
      font-size: 15px;
      line-height: 24px;
    }
    p {
      margin: 0;
      margin-top: 8px;
      font-family: "Gotham";
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.5px;
      font-weight: 700;
    }
    a {
      margin-top: 8px;
      font-family: "Gotham";
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.5px;
      text-decoration: underline;
      font-weight: 700;
      color: var(--colorMain);
    }
    @media (max-width: 992px) {
      margin-top: 20px;
    }
  }

  &__when {
    margin-right: 135px;
  }

  &__download {
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__img {
    flex: 0 1 50%;
    width: 671px;
    height: 432px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--colorWhite);
    box-shadow: 4px 4px 8px 2px rgba(189, 189, 189, 0.25);
    border-radius: 6px;
    cursor: pointer;
    @media (max-width: 1200px) {
      margin-right: 20px;
    }
    @media (max-width: 992px) {
      margin: 0 auto;
    }
    @media (max-width: 768px) {
      width: 90%;
      height: 300px;
    }
    @media (max-width: 576px) {
      height: 200px;

      img {
        width: 50%;
      }
    }
  }
}

//Our team page

// Section How it all started
.team {
  padding-top: 147px;
  padding-bottom: 50px;
  background-blend-mode: multiply;
  background: linear-gradient(to left bottom, #fff 60%, rgb(#14efb5, 0.2) 100%);
  @media (max-width: 1100px) {
    padding-top: 130px;
  }
  @media (max-width: 992px) {
    padding-top: 60px;
  }
  @media (max-width: 576px) {
    padding-top: 40px;
  }
  &__title {
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    p {
      line-height: 26px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 576px) {
      margin-top: 20px;
    }
  }

  &__textleft {
    flex: 0 1 50%;
    padding-right: 100px;
    @media (max-width: 1100px) {
      padding-right: 50px;
    }
    @media (max-width: 768px) {
      padding-right: 0;
      padding-right: 20px;
    }
  }

  &__textright {
    flex: 0 1 50%;
    padding-right: 100px;
    @media (max-width: 1100px) {
      padding-right: 50px;
    }
    @media (max-width: 768px) {
      padding-right: 0;
    }
  }

  &__btn {
    margin-top: 42px;
    @media (max-width: 768px) {
      margin-top: 30px;
    }
  }
}

// Section Our amazing team

.teamtabs {
  padding-top: 50px;
  padding-bottom: 75px;
  background-blend-mode: multiply;
  background: linear-gradient(to left top, #fff 60%, rgb(#14efb5, 0.2) 100%);
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
  &__suptitle {
    font-size: 15px;
    line-height: 24px;
    @media (max-width: 460px) {
      text-align: center;
    }
  }

  &__title {
    @media (max-width: 460px) {
      text-align: center;
    }
  }
}
.tabs {
  &__wrap {
    margin-top: 32px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 460px) {
      text-align: center;
      justify-content: space-between;
    }
  }

  &__item {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    padding: 8px 25px;
    background-color: var(--colorWhite);
    margin-right: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: rgb(235, 230, 230);
    }
    @media (max-width: 521px) {
      margin-bottom: 16px;
    }
    &.active {
      color: var(--colorWhite);
      background-color: var(--colorMain);
      border: 1px solid #534072;
      border-radius: 6px;
    }
  }

  &__content {
    margin-top: 24px;
  }
}

.content-tabs {
  display: none;
  &.active {
    display: flex;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    @media (max-width: 1433px) {
      justify-content: center;
    }
  }

  &__item {
    cursor: pointer;
    @media (max-width: 671px) {
      text-align: center;
    }
  }

  &__img {
    background: var(--colorWhite);
    box-shadow: 4px 4px 8px 2px rgba(189, 189, 189, 0.25);
    border-radius: 6px;
    width: 296px;
    height: 378px;
    overflow: hidden;
    img {
      transition: all 0.3s ease 0s;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  &__worker {
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
  }

  &__name {
    font-family: "Gotham";
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
  }
}

// Section Form

.question {
  padding-top: 75px;
  padding-bottom: 100px;
  @media (max-width: 992px) {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  @media (max-width: 576px) {
    padding-bottom: 50px;
    padding-top: 15px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 0 1 50%;
    padding-right: 80px;
    @media (max-width: 1200px) {
      padding-right: 20px;
    }
    @media (max-width: 768px) {
      padding-right: 0px;
    }
  }

  &__suptitle {
    font-size: 15px;
    line-height: 24px;
    @media (max-width: 576px) {
      text-align: center;
    }
  }

  &__title {
    font-size: 48px;
    margin-top: 8px;
    @media (max-width: 1200px) {
      font-size: 35px;
      line-height: 42px;
    }
    @media (max-width: 576px) {
      text-align: center;
      font-size: 32px;
      line-height: 37px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 26px;
    margin-top: 30px;
  }

  &__right {
    flex: 0 1 50%;
    padding-left: 80px;
    @media (max-width: 1200px) {
      padding-left: 20px;
    }
    @media (max-width: 768px) {
      padding-left: 0px;
    }
  }
}

// Form

.feed-form {
  @media (max-width: 768px) {
    margin-top: 20px;
  }
  position: relative;
  label[for="name"] {
    margin-top: 0;
  }
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 8px;
    outline: none;
    &::placeholder {
      line-height: 24px;
      color: #cbcbcb;
    }
  }
  input[type="text"] {
    font-size: 30px;
    font-weight: 700;
    &::placeholder {
      font-size: 30px;
      padding-top: 8px;
      font-weight: 700;
    }
  }
  &__wrapper {
    display: flex;
    gap: 24px;
    div {
      flex: 0 1 50%;
      input {
        width: 100% !important;
      }
    }
    @media (max-width: 576px) {
      display: block;
    }
  }
  label {
    display: block;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #email,
  #phone {
    width: 50%;
  }
  textarea {
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 1px solid #000000;
    height: 130px;
    outline: none;
    &::placeholder {
      line-height: 24px;
      color: #cbcbcb;
    }
  }
  .button__wrap {
    text-align: right;
  }
  &__btn {
    margin-top: 32px;
  }
}

// Product Top

.product {
  padding-top: 147px;
  background-color: red;
  background-blend-mode: multiply;
  background: linear-gradient(-50deg, #fff 70%, rgb(#14efb5, 0.2) 100%);
  &_bottom {
    padding-top: 0;
    padding-bottom: 50px;
    background-blend-mode: multiply;
    background: linear-gradient(-50deg, #fff 0%, #fff 100%);
    @media (max-width: 576px) {
      padding-bottom: 30px;
    }
  }
  @media (max-width: 992px) {
    padding-top: 60px;
  }
  @media (max-width: 576px) {
    padding-top: 40px;
  }
  &__top {
    text-align: center;
  }

  &__suptitle {
    font-size: 15px;
    line-height: 24px;
  }

  &__title {
    font-size: 48px;
    margin-top: 8px;
    @media (max-width: 992px) {
      font-size: 35px;
      line-height: 42px;
    }
    @media (max-width: 576px) {
      font-size: 32px;
      line-height: 37px;
    }
  }

  &__btn {
    margin-top: 32px;
    @media (max-width: 992px) {
      margin-top: 15px;
    }
  }

  &__wrap {
    margin-top: 59px;
    @media (max-width: 768px) {
      margin-top: 40px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    &:nth-child(odd) {
      .product__info {
        order: -1;
        padding-left: 0;
        padding-right: 98px;
        @media (max-width: 1200px) {
          padding-right: 30px;
        }
        @media (max-width: 992px) {
          order: 1;
        }
        @media (max-width: 576px) {
          padding-right: 0px;
        }
      }
    }
    @media (max-width: 992px) {
      flex-direction: column;
    }
    .product__img {
      &_mb {
        margin-bottom: 25px;
      }
    }
  }

  &__info {
    flex: 0 1 50%;
    padding-left: 98px;
    @media (max-width: 1200px) {
      padding-left: 30px;
    }
    @media (max-width: 992px) {
      padding-left: 0px;
    }
    p {
      line-height: 26px;
    }
    @media (max-width: 992px) {
      margin-bottom: 20px !important;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  &__img {
    flex: 0 1 50%;
    overflow: hidden;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 4px 4px 8px 2px rgba(189, 189, 189, 0.25);
    height: 430px;
    margin-bottom: 150px;
    img {
      border-radius: 6px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @media (max-width: 1437px) {
      width: 100%;
      height: auto;
    }

    @media (max-width: 992px) {
      max-width: 671px;
      margin-bottom: 25px;
      align-self: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .info-product {
    &__title {
      @media (max-width: 576px) {
        text-align: center;
      }
    }
    &__suptitle {
      font-size: 15px;
      line-height: 24px;
      @media (max-width: 576px) {
        text-align: center;
      }
    }
    &__list {
      margin-top: 32px;
      > ul {
        > li {
          line-height: 26px;
          padding-left: 37px;
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0;
          }
          background-image: url("../img/marker-list.svg");
          background-size: 13px 13px;
          background-repeat: no-repeat;
          background-position: left 7px;
          @media (max-width: 1200px) {
            margin-bottom: 15px;
          }
          @media (max-width: 576px) {
            padding-left: 25px;
          }
        }
      }
      @media (max-width: 1200px) {
        margin-top: 15px;
      }
      @media (max-width: 992px) {
        margin-bottom: 20px !important;
      }
    }
    &__text {
    }
  }
}

// Blog  page

.blog {
  padding-top: 147px;
  background: linear-gradient(-50deg, #fff 70%, rgb(#14efb5, 0.2) 100%);
  @media (max-width: 992px) {
    padding-top: 60px;
  }
  @media (max-width: 576px) {
    padding-top: 40px;
  }
  &__title {
    @media (max-width: 1433px) {
      text-align: center;
    }
  }

  &__wrap {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    @media (max-width: 1433px) {
      justify-content: center;
    }
    @media (max-width: 1027px) {
      row-gap: 30px;
    }
    @media (max-width: 768px) {
      column-gap: 30px;
    }
  }
  &__wrapbtn {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    display: none;
    @media (max-width: 576px) {
      display: block;
    }
  }

  &__item {
    width: 296px;
    border-radius: 6px;
    display: block;
  }

  &__img {
    border-radius: 6px;
    height: 378px;
    overflow: hidden;
    img {
      transition: all 0.3s ease 0s;
      &:hover {
        transform: scale(1.05);
        filter: sepia(100%) blur(1px);
      }
    }
  }

  &__info {
    margin-top: 20px;
    transition: all 0.3s ease 0s;
    &:hover {
      .blog__date,
      .blog__name {
        color: #594477;
        text-shadow: 0px 0px 0.5px rgba(#463361, 0.5);
      }
    }
  }

  &__date {
    font-size: 15px;
    line-height: 24px;
    color: var(--colorMain);
    transition: all 0.3s ease 0s;
  }

  &__name {
    font-family: "Gotham";
    font-size: 23px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: var(--colorMain);
    margin-top: 10px;
    font-weight: 700;
    transition: all 0.3s ease 0s;
  }

  &__pagination {
    > ul {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      > li {
        margin-right: 4px;
        margin-left: 4px;
        a {
          font-size: 15px;
          line-height: 15px;
          color: var(--colorMain);
          width: 40px;
          height: 40px;
          border: 1px solid var(--colorMain);
          border-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease 0s;
          &:hover {
            color: var(--colorWhite);
            background-color: var(--colorGreen);
            border: 1px solid var(--colorGreen);
          }
          &.active {
            color: var(--colorWhite);
            background-color: var(--colorGreen);
            border: 1px solid var(--colorGreen);
          }
        }
        &:nth-child(4) {
          display: flex;
          height: 100%;
          color: #bbbbbb;
          font-size: 30px;
          margin-right: 10px;
          margin-left: 10px;
        }
      }
      @media (max-height: 992px) {
        margin-top: 50px;
      }
    }
    @media (max-width: 576px) {
      display: none;
    }
  }
}

// Single Page

.single {
  padding-top: 147px;
  background: linear-gradient(-50deg, #fff 50%, rgb(#14efb5, 0.2) 100%);
  @media (max-width: 992px) {
    padding-top: 60px;
  }
  @media (max-width: 576px) {
    padding-top: 40px;
  }
  &__wrap {
    max-width: 770px;
    margin: 0 auto;
  }

  &__title {
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 53px;
    @media (max-width: 1200px) {
      letter-spacing: 0.5px;
    }
    @media (max-width: 992px) {
      font-size: 35px;
      line-height: 42px;
    }
    @media (max-width: 576px) {
      font-size: 32px;
      line-height: 37px;
    }
  }

  &__author {
    margin-top: 35px;
    display: flex;
    height: 48px;
    @media (max-width: 576px) {
    }
  }

  &__name {
    padding-left: 64px;
    background-image: url("../img/Oval.png");
    background-position: left center;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 43px;
    @media (max-width: 576px) {
      margin-right: 20px;
      font-size: 13px;
      background-size: 35px 35px;
      padding-top: 13px;
      padding-left: 44px;
    }
  }

  &__date {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    @media (max-width: 576px) {
      font-size: 13px;
      padding-top: 13px;
    }
  }

  &__content {
    p {
      margin: 0;
    }
  }

  &__text {
    line-height: 24px;
    margin-top: 30px !important;
    a {
      text-decoration: underline;
      font-weight: 700;
      &:hover {
        text-decoration: none;
      }
    }
    &_weight {
      font-weight: 700;
      line-height: 24px;
      margin-top: 40px !important;
      @media (max-width: 576px) {
        margin-top: 20px !important;
      }
    }
  }

  &__img {
    width: 100%;
    height: 432px;
    margin-top: 32px;
    background: #ffffff;
    box-shadow: 4px 4px 8px 2px rgba(189, 189, 189, 0.25);
    border-radius: 6px;
    overflow: hidden;
    img {
      border-radius: 6px;
      height: auto;
      width: 100%;
    }
    @media (max-width: 770px) {
      height: auto !important;
      img {
        height: 100% !important;
      }
    }
  }

  &__images {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
    @media (max-width: 576px) {
      flex-direction: column;
    }
  }
  &__imagesm {
    width: 364px;
    height: 204px;
    box-shadow: 4px 4px 8px 2px rgba(189, 189, 189, 0.25);
    border-radius: 6px;
    overflow: hidden;
    @media (max-width: 576px) {
      width: 100%;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      border-radius: 6px;
      height: auto;
      width: 100%;
    }
    @media (max-width: 770px) {
      height: auto !important;
      img {
        height: 100% !important;
      }
    }
  }

  &__social {
    margin-top: 40px;
    margin-bottom: 20px;
    a {
      margin-left: 25px;
      color: var(--colorBg2);
      font-weight: 700;
      text-decoration: underline;
      transition: all 0.3s ease 0s;
      &:hover {
        text-decoration: none;
      }
      @media (max-width: 576px) {
        margin-left: 12px;
      }
    }
  }
}
