<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__info">
        <div class="footer__title title">Great people don’t stand out on paper.</div>
        <div class="footer__text">We help bring personality to the first step of recruitment: it reduces hiring time and
          increases the interview success rate by up to 80%</div>
        <button class="footer__btn btn btn-reset">Request a demo</button>
      </div>
      <div class="footer__contact">
        <div class="footer__title-sm">Contact us</div>
        <address>VideoCV OÜ<br>
          <a href="tel:3725181394">+372 518 1394</a><br>
          <a href="mailto:info@videocv.io">info@videocv.io</a><br>
          Reg code: 14098592
        </address>
        <a href="contact.html" class="footer__link">Contact us</a>
      </div>
      <div class="footer__social">
        <div class="footer__title-sm">Social media</div>
        <div class="footer__social-block">
          <a href="#">Facebook</a>
          <a href="#">Linkedin</a>
        </div>
        <a href="#" class="footer__privacy">Privacy policy</a>
      </div>
    </div>
  </div>
  <a href="#header" class="scroll-up"><span>Slide me up</span><img src="img/scroll-up.png" alt="scroll"></a>

  <div class="all_pages">
    <div class="page_point">Pages</div>
    <ul class="page_list">
      <li><a href="index.html">Index</a></li>
      <li><a href="pricing.html">Pricing</a></li>
      <li><a href="case.html">Case</a></li>
      <li><a href="team.html">Team</a></li>
      <li><a href="product.html">Product</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="single.html">Single Page</a></li>
      <li><a href="contact.html">Contact Us</a></li>
      <li><a href="form-autorisation.html">Login</a></li>
      <li><a href="form-forgot.html">Forgot</a></li>
      <li><a href="form-registration.html">Sign up</a></li>
    </ul>
  </div>
</footer>
