<section class="question">
  <div class="container">
    <div class="question__wrap">
      <div class="question__left">
        <div class="question__suptitle">Have some questions?</div>
        <div class="question__title title">We are here for you</div>
        <div class="question__text">
          <p>You have a question or want to leave your contact? Lets go get food or maybe have a call? Send us a
            message and we’ll get the ball rolling.</p>

          <p>Operating in European and African markets,
            VideoCV helps to save time and money for businesses big and small.
            Hire a person, not paper. </p>
        </div>
      </div>
      <div class="question__right">
        <form action="#" class="feed-form" id="form-three">
          <label for="name">NAME</label>
          <input id="name" name="name" placeholder="Your name" type="text" required>
          <div class="feed-form__wrapper">
            <div><label for="email">EMAIL</label>
              <input id="email" name="email" placeholder="Data field" type="email" required>
            </div>
            <div>
              <label for="phone">PHONE</label>
              <input id="phone" name="phone" placeholder="Data field" type="tel" required>
            </div>
          </div>
          <label for="text">YOUR MESSAGE</label>
          <textarea id="text" name="text" placeholder="I would like to..."></textarea>
          <div class="button__wrap">
            <button class="autorisation__btn feed-form__btn btn btn-reset">Send it</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
