<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__left">
        <a href="#" class="header__logo">
          <img class="logo" src="img/logo-header.svg" alt="Logo VideoCV">
          <img class="logo-white" src="img/logo-header-white.svg" alt="Logo VideoCV">
        </a>
        <nav class="header__nav nav-menu">
          <ul>
            <li><a href="index.html">Product</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="case.html">Case studies</a></li>
            <li><a href="team.html">Our team</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__right">
        <div class="header__login">
          <a href="#" class="header__log">Log in</a> /
          <a href="#" class="header__sign">Sign up</a>
        </div>
        <div class="header__lang">
          et
          <ul>
            <li>en</li>
            <li>ua</li>
          </ul>
        </div>
        <button class="btn-outline btn-reset header__btn">Request a demo</button>
      </div>
      <div class="burger__wrap">
        <button class="burger btn-reset">
          <span></span>
        </button>
      </div>

    </div>
  </div>
</header>

<div class="cookies">
  <div class="container">
    <div class="cookies__wrap">
      <div class="cookies__text">
        We use technologies, such as cookies, to customise content, to provide social media features and to analyse
        traffic to the site. We also share information about your use of our site with our trusted partners of social
        media, advertising and analytics .
      </div>
      <div class="cookies__btns">
        <button class="cookies__btn btn-reset decline">Decline</button>
        <button class="cookies__btn btn btn-reset accept">Accept</button>
      </div>
    </div>
  </div>
</div>
