<!-- Section Ready -->
<section class="ready">
  <div class="container">
    <div class="ready__wrap">
      <div class="ready__left">
        <div class="ready__suptitle">See VIDEOCV in action</div>
        <div class="ready__title title">Ready to try it out?</div>
      </div>
      <div class="ready__right">
        <div class="ready__btns">
          <button class="ready__btn btn btn-reset">Request a demo</button>
          <button class="ready__btn btn-outline btn-reset">Sign up for free</button>
        </div>
      </div>
    </div>
  </div>
</section>
